<div class="cart-header" style="display: flex;justify-content: center;font-weight: bold;">
  <h1 style="margin-top: 50px;">My Cart</h1>
</div>
<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
     Shopping Details
    </div>
    <div class="card-body">
      <form [formGroup]="checkoutform" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control"
            formControlName="username"
            >
            <span *ngIf="!username.valid && (username.touched || userSubmitted)"
            class="error-block">
              Please provide name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
            <span *ngIf="email.hasError('required')">
                Please provide email id
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid email id
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span  *ngIf="!mobile.valid && (mobile.touched || userSubmitted)" class="error-block">
              <span *ngIf="mobile.hasError('required')">
                Please provide mobile
              </span>
              <span *ngIf="mobile.hasError('maxlength')" class="error-block">
                Invalid mobile number
              </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary ml-2" routerLink="/cart">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>